.welcome-page {
    background: url("../images/escalators.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nametitle {
    margin-top: 25%;
}

.nametitle .name {
    color:white;
    text-align:center;
}

.personaldescription .description {
    color:white;
    text-align:center;
}

.top-bar, .top-bar ul {
    background: transparent;
}

.welcome-page .top-bar a {
    color: white;
}

.top-bar a {
    color: black;
}

.top-bar-right {
     padding-top: 25px;
}

.menu-text {
    font-size: 50px;
}
