.welcome-page {
    background: url("../images/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nametitle {
    margin-top: 20%;
}

.nametitle .name {
    color:white;
    text-align:center;
}

.personalBlurb .description {
    color:white;
    text-align:center;
}

.nametitle h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.personalBlurb h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.top-bar, .top-bar ul {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.welcome-page .top-bar a {
    color: white;
}

.top-bar a {
    color: black;
}

.indexPage.top-bar-right {
     padding-top: 15px;
     padding-right: 15px;
}

#index-menu li a:hover{
    background-color: #2c3e50;
}

#about-menu h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#about-menu li a:hover {
    color: white;
    background-color: #2c3e50;
}

.profilePicture {
    text-align: center;
}

.personalDescription {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#hello {
    font-weight: 700;
}
#description {
    font-weight: 400;
    line-height: 1.75;
}
