body
{
	border-top: 5px solid #3498db;
	background: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}

p
{
	margin: 5px 0;
	line-height: 25px;
}

a 
{
	text-decoration: none;
	color: inherit;
	transition: color .5s ease;
}

strong
{
	font-weight: bold;
}

figcaption strong
{
	border-bottom: 1px solid #D6D0C1;
	padding-bottom: 10px;
	margin: 10px 0;
	display: block;
}


figcaption
{
	line-height: 25px;
	font-size: 14px;
	width: 470px;
}

hr 
{
	background-color: #D6D0C1;
	border: 0;
	height: 1px;
	margin: 20px 0;
}


header
{
	position: relative;
	width: auto;
	max-width: 900px;
	margin: 0 auto 20px auto;
}

header h1
{
	margin: 35px 0 0 0;
	font-size: 55px;
	color: #3498db;
	font-family: 'Baumans', cursive;
}

header p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #4A463B;
	margin-left: 132px;
}

nav
{
	position: absolute;
	right: 0;
	bottom: 0;
}

nav ul
{
	list-style: none;
}

nav ul li 
{
	display: block;
	float: left;
	padding: 3px 15px;
}

nav ul li a 
{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition:all .25s ease;
}

nav ul li a:hover
{
	color: #E56038;
}

#banner_image
{
	width: auto;
	margin: 0 auto;
	position: relative;
}

#banner_image img 
{
	max-width: 100%;
	height: auto;
}


#about_me
{
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	clear: both;
	width: auto;
	max-width: 1000px;
	margin: 0 auto;
}

#about_me h2
{
	font-size: 20px;
	border-bottom: 1px solid #D6D0C1;
	padding: 20px 0;
	margin-bottom: 20px;
}

#about_me img
{
	float: left;
}

#about_me p
{
	float: right;
	width: 519px;
	margin-left: 10px;
}


#two_columns
{
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	clear: both;
	width: auto;
	max-width: 1000px;
	margin: 0 auto;
}

#two_columns h2
{
	font-size: 20px;
	border-bottom: 1px solid #D6D0C1;
	padding: 20px 0;
	margin-bottom: 20px;
}

#two_columns .img-item
{
	float: left;
	margin-right: 25px;
	margin-bottom: 20px;
}

#two_columns .img-item a 
{
	position: relative;
	display: block;
}


#contact
{
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	clear: both;
	width: auto;
	max-width: 1000px;
	margin: 0 auto;
}

#contact h2
{
	font-size: 20px;
	border-bottom: 1px solid #D6D0C1;
	padding: 20px 0;
	margin-bottom: 20px;
}

footer
{
	position: relative;
	clear: both;
	width: auto;
	height: 50px;
	background: #333333;
}

footer .wrapper
{
	line-height: 25px;
	margin: 0 auto;
	padding-top: 30px;
	width: auto;
	max-width: 900px;
	font-size: 14px;
}

#copyright
{
	background: #1D1D1D;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#copyright .wrapper
{
	font-family: 'Open Sans', sans-serif;
	padding-top: 25px;
	color: #5e5e5e;
	font-size: 14px;
	position: relative;
}

#copyright .wrapper .social
{
	position: absolute;
	right: 0;
	top: 25px;
}

#copyright .wrapper .social a
{
	transition: opacity .25s ease;
	opacity: 0.3;
	margin-left: 12px;
	display: block;
	float:left;
}

#copyright .wrapper .social a:hover
{
	opacity: 0.7;
}

#copyright .wrapper a
{
	color: #ABABAB;
}

#copyright .wrapper a:hover
{
	color: #fff;
}

.clear
{
	clear: both;
}

.hidden
{
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}


/*@media (max-width: 915px)
{
	#two_columns
	{
		width: 600px;
	}


} */
